.image1
{
	width:300px;
	
	border-radius:23%;
	padding-left:423px;
	padding-top:34px;
}
.aboutme
{
	float :left;
	margin-left:150px;
}
.paragraph
{
	margin top:-123px;
}
#hi
{
	text-align: center;
	margin-top:100px;
}
body
{

	background-color:black;
	color:white;
}
div
{
	padding:34px;
	text-align: center;
}
h3
{
	color:blue;
	text-align: left;
	padding right: 23px;
}

.de
{
	margin-right: 10px;
}


